@font-face {
  font-family: gt;
  src: url("../assets/fonts/gt-walsheim-web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gt;
  src: url("../assets/fonts/gt-walsheim-medium-web.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: gt;
  src: url("../assets/fonts/gt-walsheim-bold-web.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
