// Theme colors

$color-primary: #1b42df;
$color-primary-1: #fa9f42;
$color-primary-2: #0b6e4f;

$color-primary-bg: #EBF3FF;




// General colors
$dark: #040f0f;
$white: #ffffff;
$warning-yellow: #f2c94c;
$danger: #f8e8e9;
$error: #ff9ca1;
$success: #38a169;
$dark-grey: #4f5873;
$grey: #828282;
$light-grey: #eeeeee;
$faded-purple: #e7f0ff;
$faded-green: #d6fff0;

// Text colors
$text-dark: $dark;
$text-light: $dark-grey;

// Others
$grey-border: #DFE2E6;
