// Theme colors
$color-primary: #1b42df;

// General colors
$dark: #040f0f;
$white: #ffffff;
$dark-grey: #4f5873;
$gray: #6b7280;
$light-grey: #eeeeee;

// Text colors
$text-dark: $dark;
$text-light: $dark-grey;

// Others
$grey-border: #dfe2e6;
